## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg
doc

## PROJECT::SPECIFIC
spec/fixtures/

# Gemfile.lock should stay out of the .gitignore
# http://gembundler.com/#getting-started
